<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta name="theme-color" content="#ba382f">
	<title>Stock Traders:Free Content</title>
	<link rel="stylesheet" href="css/styles2.css">


	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

</head>

<body>

	<section class="nav-bar">
		<nav class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(to left, #8942a8, #ba382f);">
			<div class="container-fluid">
				<a class="navbar-brand nav-title" href="#">STOCK TRADERS</a>
				</button>
				<div class="collapse links navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav navbar me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="#"></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#"></a>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
						</li>
					</ul>

				</div>
			</div>
		</nav>
	</section>
  <div class="container card-main">

	<div class="container">
		<div class="card1">
			<div class="content">
				<h2>01</h2>
				<h3>Basics of stock marketing</h3>
				<p>Before entering into Stock Market, you will need to understand some basic terms, and should have basic knowledge of stocks.</p>
        <a href="./downloads/Basics.docs"> <button type="button" class="btn btn-sm btn-outline-light" name="button">Download Document</button> </a>

			</div>
		</div>
	</div>
	<div class="container">
		<div class="card2">
			<div class="content">
				<h2>02</h2>
				<h3>Stock marketing Analysis</h3>
				<p>Before entering into Stock Market, you will need to understand some basic terms, and should have basic knowledge of stocks.</p>
        <a href="./downloads/Basics.docs"> <button type="button" class="btn btn-sm btn-outline-light" name="button">Download Document</button> </a>
			</div>
		</div>
	</div>
</div>
	<section>

		<footer class="py-5 bg-black footer">
			<div class="container">
				<p class="text-center text-white m-0 small">Copyright&nbsp;© Stock Traders 2021</p>
			</div>
		</footer>
	</section>

	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/js/bootstrap.bundle.min.js"></script>


</body>

</html>
