<%- include('partials/header'); %>


<%# Navigation Bar %>


<section class="nav-bar">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(to left, #8942a8, #ba382f);">
    <div class="container-fluid">
      <a class="navbar-brand nav-title" href="#">STOCK TRADERS</a>
      </button>
      <div class="collapse links navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav navbar me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</section>


<%# Animation Part %>

<ul class="box-area">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>


<%# Introduction Part %>


<section class="introduction-part">
  <div class="container">
    <div class="row">
      <div class="col col-md-6">
        <div class="intro-column">
          <h1 class="intro-heading">Hello, I am Devanshu.</h1>
          <p class="intro-para">Expert in technical analys and fundamental analysis.</p>
        </div>
      </div>
      <div class="col col-md-6">
        <div class="image-column">
          <img class="intro-image" src="./images/wb.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>






<section class="Description">
  <div class="card card-bg" style="width:80%;background: linear-gradient(to left, #8942a8, #ba382f);">
    <div class="card-body">
      <p class="card-para">Long term investment, short term investment and day trading is quite difficult as well as complex. <br><br>If you don’t know what you’re doing, you can say goodbye to your capital and never have hope to recover losses.
        <br><br>Before you enter any trades, you must know when to enter the market, when to buy and when to sell. This things are <span id="dots">...</span><span id="more"> very important for all types of investors. But that’s not all.<br><br>When
          buying and selling stocks and assets in a
          short period of time, or long period of time then you also have to make sure that you know how to identify trends, patterns, and entry points. <br><br>This can help you minimize losses and increase your chances of reaching your goals. This
          things matters a lot but you need to control your emotions and make sure your decisions are not emotionally driven. <br><br>You also need to understand the market structure and psychology and maintain a discipline in each trade to control
          the
          greed and must have patience.
      </p>
      <a onclick="myFunction()" id="myBtn" style="color:blue;font-size:1rem;">Read more</a>


    </div>
  </div>
</section>










<section class="download-section">
</section>
<div class="container">
  <div class="row row1">
    <div class="col-md-6">
      <h3 class="free-items">SOME CONTENTS ARE AVAILABLE FOR FREE.</h2>
        <a href="/freeContent">
          <button class="btn btn-outline-light btn-md button" type="submit">Free Materials</button>
        </a>
    </div>
    <div class="col-md-6">
      <h3 class="premium-items">PREMIUM BUT USEFULL MATERIAL ARE ALSO AVAILABLE.</h2>
        <a href="/premiumContent">
          <button class="btn btn-outline-light btn-md button" type="button" name="premium">Premium Materials</button>
        </a>
    </div>
  </div>
</div>
</div>








<%- include('partials/footer'); %>
